@charset "UTF-8";

/* カート合計 */
.totalPrice{
	color: #575757;
	font-family:'Vidaloka', serif ;
	font-size: 50px;
	text-align: right;
}

/* 完了メッセージ */
.completeMsgBox{

	background-color: #E6FFE6;
	border: 3px solid #00552e;
	padding: 60px 100px;
	font-family: 'Vidaloka', serif;
	text-align: center;
	font-weight: bold;
	color: #00552e;
	font-size: 10px;
}