@CHARSET "UTF-8";

table.vertical-list-table{
	border-spacing:0;
	width:50%;
}
table.vertical-list-table th{
	width:150px;
	text-align:left;
	font-weight:bold;
	font-size:0.8em;
	vertical-align:top;
	background-color:#005392;
	color:#ffffff;
}