@CHARSET "UTF-8";

table.vertical-list-table{
	width:90%;
	padding:10px;
	font-weight:bold;
	font-size:0.8em;
	text-align:center;
	vertical-align:top;
	background-color:#005392;
	color:#ffffff;
}