@charset "UTF-8";

.pageTitle{
	 text-align:center;
	 border-top: 2px solid blue;
	 border-bottom: 2px solid blue;
	 padding:5px;
	 font-family:;
	 color:blue;
}

.errorMsgBox{
	text-align:center;
	background-color:pink;
	margin:5px;
	padding: 15px;
	border: 1px solid red;
	font-family:;
	font-size:10px;
	color:red;
}
