@CHARSET "UTF-8";

body
{
	margin:0;
	padding:0;
	background-image:url(images/photo.jpg);
}

h1
{
	padding:10px 0;
	color:blue;
	border-top:2px solid blue;
	border-bottom:2px solid blue;
	text-align:center;
	margin:0;
	width:90%;
	margin-left:50px;
}

.right
{
	margin:15px 50px;
	width:px;
	float:left;
}


.item-image-box-320
{
	width:350px;
	height:350px;
}

.left
{
	float:left;
	margin-top:10px;
}

.submit_btn_box
{
	clear:left;
	text-align:center;
}

.submit_btn
{
	color:white;
	background:#447fdd;
	box-shadow:0 2px 4px rgba(0,0,0,0.6);
	border-radius:20px;
	font-size:8px;
	padding:7px;
}

.product-details-recomend-box
{
	margin-top:35px;
	margin-left:200px;
}

.recommend-box
{
	float:left;
	width:33.3%;

}

.item-image-box-100
{
	height:100px;
}
