@charset "UTF-8";

h1
{
	border-bottom: 2px solid blue;
	border-top: 2px solid blue;
	text-align: center;
	color: red;
}
.productList
{
	padding: 0;
	list-style: none;
	width: 100%;
}
.productList li
{
	float: left;
	width: calc(100% / 3);
	margin: 25px 0;
	text-align: center;
}
.productList li img
{
	width: 55%;
}